/* layout.css */
.sidebar {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 0);
}
.sidebar-title {
    -fx-font-size: 24px;
    -fx-font-weight: 800;
    -fx-text-fill: #000000;
    -fx-padding: 30 0 5 25;
}
.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: #4b5563;
    -fx-font-size: 14px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 12 25;
    -fx-cursor: hand;
    -fx-border-width: 0 0 0 4;
    -fx-border-color: transparent;
}
.nav-button:hover {
    -fx-background-color: #fee2e2;
    -fx-text-fill: #991b1b;
}
.nav-button-active {
    -fx-background-color: #fef2f2;
    -fx-text-fill: #991b1b;
    -fx-border-color: #991b1b;
    -fx-font-weight: 700;
}
.page-title {
    -fx-font-size: 24px;
    -fx-font-weight: 800;
    -fx-text-fill: #111827;
}
.page-subtitle {
    -fx-font-size: 14px;
    -fx-text-fill: #6b7280;
}
.card {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 8, 0, 0, 2);
    -fx-padding: 20;
}